/* ********** flags *************** */

@media screen and (max-width: 1080px) {
  .flags {
      display: none;
  }
}

.flag {
  display: none;
}

.flag.active {
  display: block;
}

.flag--fr,
.flag--en,
.flag--es {
  position: relative;
  right: 0;
  width: 2em;
  height: 1.5em;
  border: 1px solid #999;
  /* display: inline-block; */
  margin: 0em;
  box-shadow: 1px 1px 1px #ccc;
  transition: all 0.5s;
}

.flag--fr::after,
.flag--en::after,
.flag--es::after {
  content: '';
}

.flag--fr:hover,
.flag--en:hover,
.flag--es:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.flag--es {
  background: linear-gradient(red 25%, yellow 25%, yellow 75%, red 75%);
}

.flag--en {
  background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%), linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient( 90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%), linear-gradient( 33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%), linear-gradient( -33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
}

.flag--fr {
  background: linear-gradient(90deg, mediumblue 33.3%, white 33.3%, white 66.6%, red 66.6%);
}